body {
    background-color: #fcfa99;
    color: #4b024b
}

input {
    border-radius: 5px;
    color: lightgray;
}

.result-1 {
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.result-2 {
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.result-3 {
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}
.result-4 {
    width: 300px;
    border: solid 2px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.search-news {
    margin-left: 300px;
    
}